@viewport {
  zoom: 1.0; /* Устанавливаем начальное значение масштабирования */
  min-zoom: 1.0; /* Минимальное значение масштабирования */
  max-zoom: 1.0; /* Максимальное значение масштабирования */
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app{
  width: 100%;
  height: 100%;
}


